html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif, sans-serif;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  header {
     margin-top: 2rem; 
  }
  
  img {
    max-width: 100%;
  }
  
  header > img {
    display: block;
    margin: 0 auto;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 15px;
  }
  
  nav li a {
    text-decoration: none;
    color: silver;
    padding: 10px;
  }
  
  nav li a:hover {
    background-color: #141414;
    border-radius: 5px;
  }
  
  nav li a:focus {
    color: #141414;
  }
  
  section {
    display: flex;
  }
  
  article {
    flex: 1;
  }
  
  article > img {
    width: 60vw;
    float: right;
  }
  
  .hero {
    background-image: linear-gradient(52deg, #dbdbdb 0%, #fafafa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  
  .hero-text {
    background-color: #141414;
    text-decoration: none;
    color: silver;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .hero-text:hover {
    opacity: 0.75;
  }
  
  #jewelry {
    margin: 3%;
  }
  
  .jewel {
    margin: 2%;
    padding: 2%;
    border: 1px solid silver;
    border-radius: 5px;
  }
  
  .jewel:hover {
    transform: scale(1.05);
    transition: all 1s ease-in-out;
  }
  
  article img + p {
    display: inline-block;
    font-family: 'Roboto', sans-serif, serif;
    font-weight: 700;
  }
  
  footer {
    display: flex;
    background-color: #f0f0f0;
    color: #141414;
    height: 15%;
  }
  
  footer div {
    flex: 1;
  }
  
  .footer-logo, .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }